.display {
  display: flex;
  justify-content: center;
  align-items: center;
}
html {
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.body-light {
  background: linear-gradient(0.25turn, #ffd5ab 33%, #ffffff 33% 66%, #b3b6bb 66%);
}
@media screen and (max-width: 1300px) {
  .body-light {
    background: linear-gradient(0.25turn, #ffd5ab 30%, #ffffff 33% 66%, #b3b6bb 70%);
  }
}
@media screen and (max-width: 1150px) {
  .body-light {
    background: linear-gradient(0.25turn, #ffd5ab 25%, #ffffff 33% 66%, #b3b6bb 75%);
  }
}
@media screen and (max-width: 900px) {
  .body-light {
    background: linear-gradient(0.25turn, #ffd5ab 20%, #ffffff 33% 66%, #b3b6bb 80%);
  }
}
@media screen and (max-width: 760px) {
  .body-light {
    background: white;
  }
}
.body-dark {
  background: linear-gradient(0.25turn, #fcbc02 33%, #ffffff 33% 66%, #dd1c21 66%);
}
@media screen and (max-width: 1300px) {
  .body-dark {
    background: linear-gradient(0.25turn, #fcbc02 30%, #ffffff 33% 66%, #dd1c21 70%);
  }
}
@media screen and (max-width: 1150px) {
  .body-dark {
    background: linear-gradient(0.25turn, #fcbc02 25%, #ffffff 33% 66%, #dd1c21 75%);
  }
}
@media screen and (max-width: 900px) {
  .body-dark {
    background: linear-gradient(0.25turn, #fcbc02 20%, #ffffff 33% 66%, #dd1c21 80%);
  }
}
@media screen and (max-width: 760px) {
  .body-dark {
    background: white;
  }
}
.watch {
  width: 33%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1300px) {
  .watch {
    width: 40%;
  }
}
@media screen and (max-width: 1150px) {
  .watch {
    width: 50%;
  }
}
@media screen and (max-width: 900px) {
  .watch {
    width: 60%;
  }
}
@media screen and (max-width: 760px) {
  .watch {
    width: 70%;
  }
}
@media screen and (max-width: 650px) {
  .watch {
    width: 90%;
  }
}
@media screen and (max-width: 500px) {
  .watch {
    width: 100%;
    background-size: contain;
  }
}
.watch-light {
  background-image: url("../img/watch_light.png");
}
.watch-dark {
  background-image: url("../img/watch.jpg");
}
canvas {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 65%;
}
@media screen and (max-width: 500px) {
  canvas {
    height: 55%;
  }
}
.cont-desc {
  width: 25%;
  height: auto;
  font-family: "Kaushan Script", cursive;
  position: absolute;
  left: 3%;
  top: 3%;
}
.cont-desc p {
  font-size: 16px;
  opacity: 0.7;
}
@media screen and (max-width: 650px) {
  .cont-desc p {
    display: none;
  }
}
@media screen and (max-width: 1150px) {
  .cont-desc {
    width: 20%;
  }
}
@media screen and (max-width: 900px) {
  .cont-desc {
    width: 15%;
  }
}
@media screen and (max-width: 760px) {
  .cont-desc {
    width: 30%;
  }
}
@media screen and (max-width: 500px) {
  .cont-desc {
    top: 2%;
    left: 20%;
    width: 60%;
  }
}
h1 {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
.text-light {
  color: #404040;
}
.text-dark {
  color: white;
}
button {
  cursor: pointer;
  outline: none;
}
.add-button {
  position: absolute;
  width: 20%;
  height: 10%;
  font-family: "Kaushan Script", cursive;
  top: 80%;
  left: 3%;
  border-radius: 150px;
  font-size: 20px;
}
.add-button i {
  margin-left: 10px;
}
@media screen and (max-width: 900px) {
  .add-button {
    width: 15%;
    font-size: 15px;
  }
}
@media screen and (max-width: 760px) {
  .add-button {
    width: 35%;
    left: 2%;
    top: 87%;
  }
}
@media screen and (max-width: 650px) {
  .add-button {
    width: 30%;
  }
}
@media screen and (max-width: 500px) {
  .add-button {
    width: 70%;
    height: 7%;
    left: 15%;
    top: 93%;
  }
}
.add-button-light {
  background-color: #b3b6bb;
  box-shadow: 5px 5px 5px #433d3d;
  border: 1px solid #404040;
}
.add-button-dark {
  background-color: black;
  box-shadow: 0px 0px 0px black;
  border: 1px solid #000000;
}
.add-button:hover {
  width: 21%;
  height: 11%;
}
.change-theme {
  width: 60px;
  height: 30px;
  position: absolute;
  left: 60%;
  top: 5%;
  border-radius: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.change-theme #change-theme {
  width: 50%;
  margin: 0;
  height: 100%;
  border-radius: 150px;
}
.change-theme i {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.change-theme p {
  width: 50%;
  height: 50%;
  font-size: 3px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1150px) {
  .change-theme {
    left: 65%;
  }
}
@media screen and (max-width: 900px) {
  .change-theme {
    left: 70%;
  }
}
@media screen and (max-width: 760px) {
  .change-theme {
    left: 85%;
  }
}
@media screen and (max-width: 500px) {
  .change-theme {
    top: 3%;
  }
}
.change-theme-light {
  background: linear-gradient(0.25turn, #dd1c21, #fcbc02);
}
.change-theme-dark {
  background: #3d3d3d;
}
.btn-theme-light {
  background-color: white;
  border: 1px solid #ffc200;
}
.btn-theme-dark {
  background-color: #979797;
  border: 1px solid #656565;
}
.i-light {
  color: #fcbc02;
}
.i-dark {
  color: white;
}
.hidden {
  display: none !important;
}
.show {
  display: flex;
}
@media screen and (max-width: 760px) {
  body {
    justify-content: flex-end;
  }
  .add-button-light {
    box-shadow: 0px 0px 0px white;
    border: 1px solid transparent;
  }
  h1 {
    color: #404040 !important;
  }
}
